#Fields
public net.minecraft.client.Minecraft field_71428_T #timer
public net.minecraft.client.gui.GuiScreen field_146296_j #itemRender
public net.minecraft.client.renderer.RenderGlobal field_147592_B #renderBlocksRg
public net.minecraft.item.ItemBlock field_150939_a #block
public-f net.minecraft.client.multiplayer.WorldClient *
public-f net.minecraft.client.renderer.RenderGlobal *
public net.minecraft.world.World field_72986_A #worldInfo
public-f net.minecraft.server.management.PlayerManager field_72699_b #players
public-f net.minecraft.entity.Entity field_70121_D #boundingBox
public net.minecraft.block.BlockSign field_149967_b #isStanding

#Methods
public net.minecraft.client.renderer.tileentity.TileEntitySpecialRenderer func_147499_a(Lnet/minecraft/util/ResourceLocation;)V #bindTexture